#resume {
    margin: 50px;
    padding: 50px;
    font-weight: 450;
    background-color: white;
    border-radius: 5%;
}

#resumeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
