.nav {
    height: 10vh;
    padding-right: 2vh;
    display: flex;
    justify-content: right;
    align-content: end;
}

.bg-nav {
    background-color: rgba(0, 0, 0, 0.858);
    border: none !important;
}

a.nav-link {
    color: lightgoldenrodyellow !important;
}

a.nav-link.active {
    color: rgba(0, 0, 0, 0.858) !important;
    background-color: lightgoldenrodyellow !important;
}

.nav-tabs .nav-link.active {
    background-color: lightgoldenrodyellow;
}
