#portfolio-picture {
    border-radius: 50%;
    border: solid 4px;
}

#aboutMeParagraph {
    font-weight: 350;
}

body {
    background-image: linear-gradient(rgb(133, 133, 133), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 !important;
}
