#airplane {
    width: 100%;
    border-bottom: solid 3px;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.858);
}

.card-text {
    color: whitesmoke;
}

#viewButton {
    background-color: lightgoldenrodyellow;
    color: rgba(0, 0, 0, 0.858);
    border: rgba(0, 0, 0, 0.858);
    font-weight: 500;
}

#gears {
    border-top: solid black 3px;
}
